{% extends 'base.html.twig' %}

{% block livre_details %}
    <h1>{{ livres.titre }}</h1>
    <h2>{{ livres.annee }}</h2>

{% for auteur in auteur %}
    <pre>
        {{ auteur.__toString() }}
    </pre>
    <p>Ecrit par : {{ auteur.getNom() }} {{ auteur.getPrenom() }}</p>
{% endfor %}

<a class="mx-5 btn btn-secondary"  href="/livre">Retourner à la liste des livres</a>
<a class="mx-5 btn btn-primary" href="/livre/modifier/{{ livres.id }}">Modifier le livre</a>
{% endblock %}